.search_bar {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.input {
  height: 70px;
  width: 100%;
  max-width: 500px;
  font-size: 2.2rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}
.arrow {
  fill: white;
}
@media (max-width: 475px) {
  .search_bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    border-radius: 10px 10px 0 0;
    width: 80%;
    font-size: 1.3rem;
  }

  .arrow {
    rotate: 90deg;
  }
}
