@import '../utils/index.scss';
.request {
  background-color: black;
  height: 50px;
  width: 80%;
  border: none;
  cursor: pointer;
  border-radius: 0 0 10px 10px;

  @media ($mobile) {
    border-radius: 0 10px 10px 0;
    width: 100px;
    height: 70px;
  }
  &:hover {
    background-color: maroon;
  }
}
