@import '../utils/index.scss';
.request {
  background-color: green;
  height: 70px;
  width: 10%;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;

  @media ($mobil) {
    border-radius: 0 0 10px 10px;
    width: 80%;
  }
  &:hover {
    background-color: maroon;
  }
}
