
.request{
    background-color: black;
    height: 70px;
    width: 10%;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
  }
  .request:hover{
    background-color: maroon;
  }
