@import '../utils/index.scss';
.infoPanel {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 3000;
  overflow-wrap: break-word;
  bottom: -70px;
  right: auto;
  padding: 20px 5px;
  @media ($mobile) {
    bottom: -70px;
    min-height: 120px;
    right: auto;
  }
  @media ($tablet) {
    right: auto;
  }
}
.block {
  width: 75px;
  min-height: 80px;
  font-size: 0.8rem;
  & p {
    margin-bottom: 20px;
  }
  @media ($mobile) {
    padding: 20px 0;
    width: 120px;
    font-size: 1.5rem;
  }
  @media ($tablet) {
    width: 150px;
  }
}

hr {
  max-height: 130px;
}
.params {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
