// colors
$blue: blue;

//font
$mainFont: 'Playfair Display', serif;

//screens
$mobile: 'min-width: 475px';
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';

// shadows
